<robot name="block">
  <link name="block">
    <inertial>
      <origin rpy="0 0 0" xyz="0.025 0.0125 0.0125"/>
       <mass value="0.02"/>
       <inertia ixx="4.79166667e-06" ixy="0" ixz="0" iyy="8.75000000e-06" iyz="0" izz="8.75000000e-06"/>
    </inertial>

    <visual>
      <origin xyz="0.025 0.0125 0.0125"/>
      <geometry>
        <box size="0.05 0.025 0.025" />
      </geometry>
      <material name="blue">
        <color rgba="0.5 .5 1 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.025 0.0125 0.0125"/>
      <geometry>
        <box size="0.05 0.025 0.025" />
      </geometry>
    </collision>
  </link>


</robot>

